@yellow: #f5e000;
@lblue: #34d2eb;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	background-color: @lblue;
	color: black;
	.margenes(50px, 0px);
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: @lblue;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.text-jumbotron{
	margin-left: 15px;
	color: #515C5D;
}
.text-1{
	color: #475E60;
	margin-top: 10px;
}

.sub-text-1{
	color: #7F8C8E;
}
.container{
	background-color: #F4FCFD;
	margin-top: 0px;
	margin-bottom: 0px;
}

.container-fluid{
	background-color: #F4FCFD;
}

.text-2{
	text-align: center; 
}

.footer-address-icon{
	padding-right: 10px;
}

.textbelow{
	margin-top: 5px;
}

#collapse{
	margin-top: 10px;
}