.jumbotron {
  background-color: #61ECFF;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #FFFFFF;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.text-jumbotron {
  margin-left: 15px;
  color: #515C5D; }

.text-1 {
  color: #475E60;
  margin-top: 10px; }

.sub-text-1 {
  color: #7F8C8E; }

.container {
  background-color: #F4FCFD;
  margin-top: 0px;
  margin-bottom: 0px; }

.container-fluid {
  background-color: #F4FCFD; }

.text-2 {
  text-align: center; }

.footer-address-icon {
  padding-right: 10px; }

.textbelow {
  margin-top: 5px; }

#collapse {
  margin-top: 10px; }
